extends layout
block content
    div.container        
        div.row
            div.col-md-12
                div.grid
                    div.grid-sizer
                    div.grid-item.grid-item--width-large
                        div.content
                            h3 Some content
                            p This is some description
                    div.grid-item.grid-item--width-small
                        div.content
                            h3 Some content
                            p This is some description
                    div.grid-item.grid-item--width-small
                        div.content
                            h3 Some content
                            p This is some description
                    div.grid-item.grid-item--width-large
                        div.content
                            h3 Some content
                            p This is some description
                    div.grid-item.grid-item--width-large
                        div.content
                            h3 Some content
                            p This is some description
                    div.grid-item.grid-item--width-large
                        div.content
                            h3 Some content
                            p This is some description
                    div.grid-item.grid-item--width-small
                        div.content
                            h3 Some content
                            p This is some description
                    div.grid-item.grid-item--width-small
                        div.content
                            h3 Some content
                            p This is some description

block head
        link(href="/stylesheets/style.css", rel="stylesheet")
    
block foot
    script(src="/vendor/masonry/dist/masonry.pkgd.min.js")
    script(src="/javascripts/index.js")