/* 
* OVERIDES
*/
.navbar-default {
    background: none;
    border: none;
    border-bottom: 1px solid white;
}
.navbar-default a.navbar-brand, .navbar-default a.navbar-brand:hover {
    color: #fff;
}

/* 
* MASONRY STYLES
*/
.grid-item { 
    background-color: #c3c3c3;
    min-height: 300px;
    padding: 1em;
    border: 4px solid #fff;
    position: relative; 
}

.grid-item > .content {
    position: absolute;
    bottom: 0;
}

.grid-sizer, .grid-item, .grid-item--width-large { width: 100%; }

@media screen and (min-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer, .grid-item { width: 33.3%; }
  .grid-item--width-large { width: 66.6%; }
}

/* 
* HERO STYLES
*/

html, body, .container, .hero {
    height: 100%;
}

.hero {
    background: url(/images/ldn_eye.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 0 1em 0;
}

.hero-text {
    margin-top: 10%;
}

.hero h1, .hero h2 {
    background-color: rgba(255,255,255,0.8);
    padding: 0.36em;
    margin: 0;
    display: inline-block;
    line-height: 2em;
}

.hero .well {
    border: 1px solid red;
    bottom: 0;
    position: absolute;
}